* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  width: 100%;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.LOGO {
  font-family: 'Raleway', sans-serif;
  margin: 30px;
  font-size: 24px;
}

header > nav {
  margin-left: 30px;
  width: 400px;
  height: 100%;
}

header ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

header ul > li {
  height: 100%;
  display: flex;
  align-items: center;
}

#intro {
  background-image: linear-gradient(rgba(0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/ocean.jpg);
  background-size: cover;
  background-position: 0% 20%;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#intro * {
  color: #eaeaea;
}

#intro h1 {
  font-size: 48px;
}

.description {
  width: 30vw;
}

.title {
  font-size: 48px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#study {
  display: flex;
  margin-top: 250px;
}

#study > .photo {
  flex: 3;
  min-height: 400px;
  background-size: cover;
}

#study > .text {
  flex: 2;
  padding: 20px;
  background-color: white;
}

#memberInfo,
#content,
#assignment {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#memberInfo > h1,
#assignment > h1,
#Title {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 30px;
}

.text > h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
}

.text > p {
  margin-top: 20px;
}

#member {
  display: flex;
  margin: 30px;
  width: 50vw;
}

#member > .photo {
  height: 300px;
  min-width: 300px;
  background-size: cover;
  margin-right: 100px;
}

#member > .text {
  margin-top: 30px;
}

#video {
  display: flex;
  flex-direction: column;
}

#video > iframe {
  margin-top: 100px;
}

#video > h2 {
  text-align: center;
  margin-top: 100px;
}

.youtube {
  width: 30vw;
  margin-right: 50px;
}

.videoinfo {
  width: 25vw;
}

.videoinfo > p {
  margin-top: 10px;
}

.assignment-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80vw;
}

.assignment-box {
  background-color :#C3E2DD;
  box-shadow: lightgray 5px 5px 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 1.5rem;
  height: 360px;
  width: 300px;
  margin: 30px;
}

.assignment-photo {
  background-color: white;
  width: 250px;
  height: 250px;
  margin: 25px;
  border-radius: 1rem;
}



footer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
}

footer a {
  color: gray;
  margin-right: 50px;
}
